footer {
	background-color: $primary;
	color: $white;
	margin-top: 9rem;
	padding: 3rem 0 6rem;

	> div { @extend .container; }

	h2 {
		margin-top: 0;

		&:first-letter { color: $green; }
	}

	a {
		color: $white;

		&:hover,
		&:focus {
			background-color: $secondary;
			outline-color: $green;
		}
	}
}