form {
  background: $form-bg;
  box-sizing: border-box;
}

fieldset {
  border-width: 0;
  margin: 0 0 3rem;
  padding: 0;
  position: relative;

	&::before {
		background-color: $black;
		bottom: -1%;
		content: "";
		height: 102%;
		left: -24px;
		position: absolute;
		top: -1%;
		width: 4px;
	}
}

legend {
	@include set-type(1);
	letter-spacing: 0.1em;
	padding: 0;
	text-decoration: underline;
	text-transform: uppercase;
}


label {
	@include set-type(-1);
  color: $form-label;
  display: block;
  font-weight: bold;
}

// input[type='submit'] {} set in buttons.scss
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
	@include set-type(0);
  -webkit-appearance: none;
  background-color: $form-input-bg;
  border: 1px solid $form-input-border;
  border-radius: 0;
  box-sizing: border-box;
  color: $form-input-text;
  height: 2rem;
  line-height: 23px;
  padding: 0.5rem;
  transition-duration: 0.3s;
  width: 100%;

  &:focus {
  	border-color: $form-input-border-focus;
  	outline: none;
  }
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;
	line-height: 1.5rem;

	& + label {
		display: inline;
		padding-left: 4px;
	}
}

select {
	@include set-type(0);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23' + str-slice(inspect($black), 2) + '" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  height: 1.5rem;
  padding-right: 3.0rem;

  &:hover {
  	cursor: pointer;
  }

  &:hover,
  &:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23' + str-slice(inspect($link), 2) + '" d="M0,0l6,8l6-8"/></svg>');
  }

  &[multiple] {
    background: none;
    height: auto;
  }
}

textarea {
	@include set-type(0);
	border-left: 1px solid $form-input-border;
  min-height: 6rem;
  overflow: auto;
}