/*
 * TABLE OF CONTENTS
 * ========================================================
 *	- body.has-baseline				    ~ displays vertical grid in background
 *  - colors
 *	- container
 *  - grid
 *	- groups
 *  - layout
 *	- overlay						          ~ opaque overlay to place over images but below text
 *	- spacing (e.g. .mt-3, .pb-1)	~ takes numbers 0 - 3. Creates a spacing equal to that many times 1.5rem
 *  - typography
 *	- visually-hidden		~ hides content from visual users but not the screen reade
 */

body.has-baseline { // applied manually
	background-color: initial;
	background-image: url('./baseline.png'); // 24px vertical unit
	background-position: top center;
	background-repeat: repeat-y;
}

// box
.box {
	@include z-depth-1;
	border: 1px solid $black;
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 1.5rem;
}

// colors
.black-bg     { background-color: $black; }
.grey-bg      { background-color: $grey; }
.primary-bg   { background-color: $primary; }
.secondary-bg { background-color: $secondary; }
.white-bg     { background-color: $white; }

.black-border     { border-color: $black; }
.grey-border      { border-color: $grey; }
.primary-border   { border-color: $primary; }
.secondary-border { border-color: $secondary; }
.white-border     { border-color: $white; }

.black-text     { color: $black; }
.grey-text      { color: $grey; }
.primary-text   { color: $primary; }
.secondary-text { color: $secondary; }
.white-text     { color: $white; }

// container
.container {
	@include set-max-width($width: 96%, $side-padding: 2%); 

	@media only screen and (min-width: $tablet) {
		max-width: $site-width;
	}
}

// grid - http://simplegrid.io/
.grid-container {
	// by setting padding to 0, edges of the columns will align with content in a normal .container
  @include set-max-width($width: 96%, $side-padding: 0);

  &,
  .row {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    & [class^="col"] {
      box-sizing: border-box;
      display: inline-block;
      float: left;
      margin: 0.5rem 2%;
      min-height: 0.125rem;
    }
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12    { width: 96%; }
  .col-1-sm  { width: 4.33%; }
  .col-2-sm  { width: 12.66%; }
  .col-3-sm  { width: 21%; }
  .col-4-sm  { width: 29.33%; }
  .col-5-sm  { width: 37.66%; }
  .col-6-sm  { width: 46%; }
  .col-7-sm  { width: 54.33%; }
  .col-8-sm  { width: 62.66%; }
  .col-9-sm  { width: 71%; }
  .col-10-sm { width: 79.33%; }
  .col-11-sm { width: 87.66%; }
  .col-12-sm { width: 96%; }
  .hidden-sm { display: none; }

  @media only screen and (min-width: $tablet) {
  	max-width: $site-width;

    .col-1     { width: 4.33%; }
    .col-2     { width: 12.66%; }
    .col-3     { width: 21%; }
    .col-4     { width: 29.33%; }
    .col-5     { width: 37.66%; }
    .col-6     { width: 46%; }
    .col-7     { width: 54.33%; }
    .col-8     { width: 62.66%; }
    .col-9     { width: 71%; }
    .col-10    { width: 79.33%; }
    .col-11    { width: 87.66%; }
    .col-12    { width: 96%; }
    .hidden-sm { display: block; }
  }
}


// groups
.group-container {
	// by setting padding to 0, edges of the children will align with content in a normal .container
  @include set-max-width($width: 96%, $side-padding: 0);

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  > a,
  > div,
  > li,
  > span {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }

  @media only screen and (min-width: $tablet) {
  	max-width: $site-width;

    &.col-2 {
      > a,
      > div,
      > li,
      > span { width: 46%; }
    }

    &.col-3 {
      > a,
      > div,
      > li,
      > span { width: 29.33%; }
    }

    &.col-4 {
      > a,
      > div,
      > li,
      > span { width: 21%; }
    }
  }
}

// layout
.screen-height, .full-height { min-height: 100vh; }
.zen { @include zen; }
.ratio-image { @include ratio-image; }
.float-left { float: left; }
.float-right { float: right; }
.clearfix { @include clearfix; }
.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

// media object
.avatar {
	border-radius: 50%;
	height: 4.5rem;
	overflow: hidden;
	position: relative;
	width: 4.5rem;

	> img {
  	position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    right: 0;
    top: 0;
  }
}

.media-object {
	display: flex;
	flex-direction: column;
	align-items: center;

	.media { margin-bottom: 1.5rem; }
	.copy { text-align: center; }

	@media only screen and (min-width: $tablet) {
		flex-direction: row;
		align-items: flex-start;

		.media {
			margin-bottom: 0;
			margin-right: 1.5rem;
		}

		.copy { text-align: initial; }
	}
}

// overlay
.overlay {
	background-color: rgba($black, 0.4);
	color: $white;
	height: auto;
	width: 100%;
}

// typography
.button,
button {
  &.no-style {
    @include set-type(0);
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: $link;
    display: inline-block;
    font-weight: initial;
    padding: 0;
    text-align: initial;
    text-decoration: underline;
    text-transform: initial;
    transition: all 0.3s;
    white-space: initial;

    &:hover {
    	@include z-depth-0;
      background-color: transparent;
      border: none;
      color: $link-hover;
    }
  }
}

.button-group {
	button,
	.button {
		margin-right: 1rem;
		margin-top: 1.5rem;
	}
}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

.fs--2 { @include set-type(-2); }
.fs--1 { @include set-type(-1); }
.fs-0  { @include set-type(0); }
.fs-1  { @include set-type(1); }
.fs-2  { @include set-type(2); }
.fs-3  { @include set-type(3); }
.fs-4  { @include set-type(4); }
.fs-5  { @include set-type(5); }
.fs-6  { @include set-type(6); }
.fs-7  { @include set-type(7); }
.fs-8  { @include set-type(8); }

.inline-list  { @include inline-list; }
.reset-list   { @include reset-list; }

.block 				{ display: block; }
.inline-block { display: inline-block; }
.inline 			{ display: inline; }

.readable-length { @include readable-length; }

// visually-hidden
.visually-hidden { @include visually-hidden; }

// spacing - margin
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 1.5rem; }
.mt-2 { margin-top: 3rem; }
.mt-3 { margin-top: 4.5rem; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 1.5rem; }
.mr-2 { margin-right: 3rem; }
.mr-3 { margin-right: 4.5rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1.5rem; }
.mb-2 { margin-bottom: 3rem; }
.mb-3 { margin-bottom: 4.5rem; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 1.5rem; }
.ml-2 { margin-left: 3rem; }
.ml-3 { margin-left: 4.5rem; }

// spacing - padding
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 1.5rem; }
.pt-2 { padding-top: 3rem; }
.pt-3 { padding-top: 4.5rem; }

.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 1.5rem; }
.pr-2 { padding-right: 3rem; }
.pr-3 { padding-right: 4.5rem; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 1.5rem; }
.pb-2 { padding-bottom: 3rem; }
.pb-3 { padding-bottom: 4.5rem; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 1.5rem; }
.pl-2 { padding-left: 3rem; }
.pl-3 { padding-left: 4.5rem; }
