.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	@include set-type();
	background-color: $button-bg;
	border: none;
	border-bottom: 3px solid $green;
	border-left: 2px solid $green;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: $button-text;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 18px;
	padding: 3px 24px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: border-color 0.3s;
	white-space: nowrap;
	z-index: 1;

	&:hover,
	&:focus {
		border-bottom-color: $secondary;
		border-left-color: $secondary;
		outline: 1px solid $secondary;
		outline-offset: 2px;

		&::after { display: none; }
	}


	&.yellow {
		background-color: $yellow;
		border-color: $blue;
		color: $pink;

		&:hover,
		&:focus { border-color: $pink; }
	}
}