/*
 * TABLE OF CONTENTS
 * ========================================================
 *	- a
 *	- abbr
 *	- b, strong
 *	- blockquote, cite
 *	- br
 *	- code, kbd, samp, var
 *	- dfn
 *  - dl, dt, dd
 *	- em, i
 *	- figure, figcaption
 *	- H1 - H6
 *	- hr
 *	- ins
 *	- mark
 *	- p
 *	- pre
 *	- s, strike, delete
 *	- small
 *	- sub, sup
 *  - ul, ol, li
 */

a {
	color: $link;

	&:hover,
	&:focus {
		background-color: $yellow;
		outline-offset: 2px;
		outline: 1px solid $secondary;
		position: relative;
		z-index: 1;
	}
}

abbr {
	font-style: normal;
	position: relative;
	text-decoration: none;

	&::after {
		background-color: gold;
		bottom: 0;
		content: "";
		height: 0.4em;
		left: -2%;
		position: absolute;
		right: -2%;
		width: 104%;
		z-index: -1;
	}
}

b,
strong { font-weight: bold; }

blockquote {
	@include set-type(3);
	box-sizing: border-box;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.02em;
	padding: 1rem 1.5rem 0;
	position: relative;


	&::before {
		color: $grey;
		content: "\201C";
		font-size: 160px;
		left: -0.1em;
		line-height: 0.5em;
		opacity: 0.7;
		position: absolute;
		top: 1.5rem;
		z-index: -1;
	}

	@media screen and (max-width: $phablet) {
		@include set-type(1);
		&::before { display: none; }
	}
}

br { height: 1.5rem }

cite {
	@include set-type(1);
	display: block;
	font-weight: normal;
	letter-spacing: 0.05em;
	text-align: right;
	text-transform: uppercase;
}

code,
kbd,
samp,
var {
	@include set-type(0);
	background-color: whitesmoke;
	border-radius: 4px;
	box-sizing: border-box;
	color: $code;
	font-family: $body-font;
	font-weight: normal;
	letter-spacing: 0.02em;
	padding: 0 4px;
}

dfn {
	font-style: normal;
	position: relative;
	text-decoration: none;

	&::after {
		background-color: gold;
		bottom: 0;
		content: "";
		height: 0.4em;
		left: -2%;
		position: absolute;
		right: -2%;
		width: 104%;
		z-index: -1;
	}
}

dl {
	margin: 0;
	padding: 0;

	dt {
		@include clearfix;
		@include set-type(0);
		font-weight: bold;
		float: left;
		padding-right: 1.5rem;
	}
	dd {
		@include set-type(0);
		margin-bottom: 1.5rem; 
		padding-left: 8ch;

		&:last-child { margin-bottom: 0; }
	}
}

em,
i { font-style: italic; }

figure {
	display: inline-block;
	margin: 1.5rem 0;
	text-align: center;
}

figcaption {
	@include set-type(0);
	font-style: italic;
	letter-spacing: 0.1em;
	text-align: left;
}

h1 {
	@include set-type(6);
	font-family: $heading-font;
	font-weight: bold;
	letter-spacing: 0.02em;
}

h2 {
	@include set-type(5);
	font-family: $heading-font;
	font-weight: bold;
	letter-spacing: 0.02em;
	margin-bottom: 1.5rem;
	margin-top: 4.5rem;

	&:first-letter { color: $secondary; }
}

h3 {
	@include set-type(3);
	font-family: $heading-font;
	font-weight: bold;
	letter-spacing: 0.02em;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

h4 {
	@include set-type(2);
	font-family: $heading-font;
	font-weight: normal;
	letter-spacing: 0.02em;
}

h5 {
	@include set-type(1);
	font-family: $heading-font;
	font-weight: bold;
	letter-spacing: 0.02em;
}

h6 {
	@include set-type(0);
	font-family: $heading-font;
	font-weight: bold;
	letter-spacing: 0.02em;
}

hr {
	height: 1px;
	border: none;
	background-color: $grey;
	margin: 11px 0 12px;
}

ins { text-decoration: underline; }

mark {
	background-color: transparent;
	position: relative;
	
	&::after {
		background-color: gold;
		bottom: 0;
		content: "";
		height: 0.75em;
		left: -2%;
		position: absolute;
		right: -2%;
		width: 104%;
		z-index: -1;
	}
}

p { margin: 0; }
p + p { margin-top: 1.5rem; }

// For optimal styling, unindent this whole block once it's built
pre {
	@include set-type(0);
	background-color: whitesmoke;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: $system;
	overflow-x: scroll;
	padding: 0 1.5rem;
	width: 100%;

	&:focus {
		outline-offset: 2px;
		outline: 1px solid $secondary;
	}

	code {
		background-color: transparent;
		border-radius: 0;
		padding: 0;
	}
}

s,
strike,
del {
	color: $grey;
	text-decoration: line-through;
}

small {
	@include set-type(-1);
}

sub,
sup {
  @include set-type(-2);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup { top: -0.5em; }

ul, ol {
	margin: 1.5rem 0 0;
	padding: 0 0 0 40px;

	li { @include set-type(0); }
}