/*
 * TABLE OF CONTENTS
 * ========================================================
 *	- HTML and Body 
 *	- Embedded Content
 *	- 
 */



// HTML & Body
html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	@include set-type(0);
	background-color: $white;
	color: $black;
	font-family: $body-font;
	font-weight: normal;
	min-height: 100vh;
	position: relative;
}

// Embedded Content
iframe { max-width: 100%; }

img {
	height: auto;
	max-width: 100%;
}




// Show href after link text in print mode
@media print {
  a[href^="http"]:not([href*="mywebsite.com"])::after {
    content: " (" attr(href) ")";
  }
}